main{
	margin-left: 250px;
	
}
main section article h3 a{
	color: #f15a08;
	text-transform: uppercase;
	letter-spacing: .6px;
	border-top: 5px solid #f15a08;
	text-decoration: none;
	width: 40%;
	
}
main section article h3{
	display: inline-block;
	clear: both;
}
main section article h1{
	font-family: 'Encode Sans',sans-serif;
	font-size: 50px;
	line-height: 60px;
	color: #202020;
	font-weight: 800;
}
main section article h2{
	font-family: 'Encode Sans',sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #202020;
	font-weight: 500;
}
time{
	display: inline-block;
	margin-left: 100px;
	color: #adadad;
	font-size: 12px;
	width: 50%;
	text-align: right;
}
article{
	width: 60%;
	margin-right: 300px;
	margin-right: 300px;
}
figcaption{
	color: #f15a08;
	font-weight: bold;
	font-size:20px;
}
figure img, aside figure img{
	width: 100%;
}
hr{
	width: 90%;
	color: #eee;
}
article > p{
	font-family: 'Encode Sans',sans-serif;
	font-size: 19px;
	color: #343434;
	text-align: left;
}
table{
	text-align: center;
}
table tr th{
	background-color: #f15a08;

}
table tr th a{
	color: #FFF;
	padding: 3px;
	text-decoration: none;
	font-family: 'Space Mono',monospace;
}
main section article .container .left{
 	float: right;
}
h5 strong{
	font-family: 'Encode Sans',sans-serif;
	font-size: 19px;
	line-height: 30px;
	color: #343434;
}

.aside h2{
	margin-top: 180px;
	font-family: 'Encode Sans',sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-top: 5px solid #f15a08;
}

.article{
	display: inline-block;
	width: 75%;
}
aside article h3{
	font-family: 'Encode Sans',sans-serif;
	font-size: 20px;
	font-weight: bold;
}
ul li{
	font-size: 19px;
	color: #343434;
	line-height: 30px;
	font-family: 'Encode Sans',sans-serif;
}
