/* Footer */
footer {
	border-top: 1px solid #eee;
	padding: 5px;
	text-align: center;
	margin-bottom: 20px;
	height: 25px;
	
}

footer ul li{
	display: inline;
	padding: 2px;
	background-color: transparent;
}

footer ul li a{
	font-size: 10px;
	text-decoration: none;
	color: #666;
}

footer ul li a:hover{
	padding: 0!important;
	margin-right: 0;
	margin-left: 0;
	text-decoration: underline;
}

footer ul li:hover{
	padding: 1px;
}